
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.account__navbar, .chat__navbar, .chat__input {
    height: 70px;
    background-color: lightgrey;
}

.contacts__window {
    height: calc(95vh - 70px);
}

.chat {
    background-image: url(../img/mine.jpg);
}

.chat__window {
    height: calc(95vh - 140px);
}

.sent, .recieved {
    margin: 0px 100px;
    padding: 10px;
    border-radius: 15px;
}

.sent {
    background-color: lightgreen;
}

.recieved {
    background-color: white;
}

ul img {
    width: 70px;
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
}

img {
    width: 50px;
    border-radius: 50%;
}

.active {
    background-color: grey;
}