
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
    min-height: 100vh;
}

.account__navbar, .chat__navbar, .chat__input {
    height: 70px;
    background-color: lightgrey;
}

.notifications {
    background-color: lightblue;
    height: 75px;
}

.notifications-icon {
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    color: lightblue;
    background-color: white;
}

.notifications a {
    color: grey;
    font-size: 14px;
}

.contacts__window {
    height: calc(95vh - 140px);
    background-color: white;
}

.contacts__list {
    cursor: pointer;
    background-color: white;
    min-height: 100%;
    overflow-y: auto;
}

.chat {
    background-image: url(../img/mine.jpg);
    
}

.chat__window {
    height: calc(95vh - 140px);
    overflow-y: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.message {
    padding-right: 5px;
}

.sent, .received {
    border-radius: 10px;
    padding: 10px 0px 0px 15px;
    margin-bottom: 10px;
}

.sent {
    background-color:#dcf8c6;
    max-width: 40%;
    margin-left: auto;
    
}

.received {
    background-color: white;
    max-width: 40%;
}

.message-time {
    font-size: 12px;
    color: grey;
    display: block;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 2px;
}

.last-message-time {
    font-size: 12px;
    color: grey;

}

ul img {
    width: 50px;
    border-radius: 50%;
    margin: 10px 0px 10px 10px;
}

.last-message {
    font-size: 12px;
    color: grey;
}

img {
    width: 50px;
    border-radius: 50%;
}

.active {
    background-color: lightgrey;
}

.color-grey {
    color: gray;
}

.cursor-pointer {
    cursor: pointer;
}

.ml-auto {
    margin-left: auto;
}